.myPic {
    position: absolute;
    top: 10vh;
    left: 19vw;
    background: chartreuse;
    height: 80vh;
    width: 30vw;
    overflow: hidden;
}

.summary {
    position: absolute;
    top: 10vh;
    left: 50vw;
    height: 40vh;
    width: 30vw;
    overflow: hidden;
}

.techSkills {
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 40vh;
    width: 30vw;
    overflow: hidden;
}

