.myPic {
    position: absolute;
    top: 10%;
    left: 20%;
    background: chartreuse;
    height: 80%;
    width: 30%
}

.summary {
    position: absolute;
    top: 10%;
    right: 20%;
    background: red;
    height: 40%;
    width: 30%
}

.techSkills {
    position: absolute;
    top: 50%;
    right: 20%;
    background: purple;
    height: 40%;
    width: 30%
}

