.carousel {
    height: 100vh;
}

// .awssld__wrapper {
//     display: block;
//     overflow: hidden;
//     position: relative;
//     height: 100vh;
//     width: 100%;
// }

// .awssld__bullets {
//     position: absolute;
//     bottom: 20px;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.header {
    text-align: center;
  }

  .slide{
    position: absolute;
    width: 100vw;
    color: white;
    font-family: 'Michroma', sans-serif;
  }

  .botSlide {
    background: rgb(14,18,26);
  }
  