.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand {
    margin-left: 12%;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png);
}

